@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kJo84MPvpLmixcA63oeALZTYKL.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZhaCt9w.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALhLw.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZ3aGt9w.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZlaet9w.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZraWt9w.otf) format('opentype');
}
* {
  font-family: 'Noto Sans SC', sans-serif;
}
body {
  padding: 0;
}
:root {
  --ppColour: #e2b7ff !important;
}
.ssr-page-container.svelte-y3wm0x {
  padding: 0.5rem;
  height: 4rem !important;
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.11) !important;
  border-bottom: none !important;
  background: rgba(92, 92, 92, 0.281) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: none !important;
}
.ssr-page-container.svelte-y3wm0x a,
.ssr-page-container.svelte-y3wm0x div {
  transition: all 0.1s;
  border-radius: 4px;
}
.sspl-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.sspl-page-container .title.is-4.svelte-ic5bju {
  font-size: 50px;
  position: relative;
}
.sspl-page-container .title.is-4.svelte-ic5bju::after {
  position: absolute;
  bottom: -1rem;
  left: 0px;
  width: 100%;
  background: linear-gradient(90deg, #3273db, #c81c9f);
  height: 0.4rem;
  content: "";
}
.sspl-page-container .sources {
  justify-content: center;
}
.sspl-page-container .sources * {
  cursor: pointer !important;
}
.sspl-page-container .sources .title.is-6 {
  filter: grayscale(1);
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.048);
  background: #252525;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
  transition: filter 0.1s;
}
.sspl-page-container .sources .title.is-6 .icon {
  margin: 0 !important;
}
.sspl-page-container .sources .title.is-6:hover {
  filter: none;
}
.ranking-grid,
.players {
  grid-gap: 0rem !important;
}
.ranking-grid .ranking-grid-row,
.players .ranking-grid-row {
  padding: 0.2rem 0;
  border-bottom: 1px rgba(189, 189, 189, 0.164) solid;
  transition: all 0.2s;
}
.ranking-grid .ranking-grid-row:hover,
.players .ranking-grid-row:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.158);
}
.ranking-grid .ranking-grid-row .player-card,
.players .ranking-grid-row .player-card {
  padding: 0.4rem 0.8rem;
  margin: 0 !important;
  background: rgba(50, 50, 50, 0) !important;
  border-radius: 0;
  font-size: 0.8rem;
  border: none !important;
}
.ranking-grid .ranking-grid-row .player-card .rank,
.players .ranking-grid-row .player-card .rank {
  background: none;
  font-weight: 600;
}
.ranking-grid .ranking-grid-row .player-card .player-avatar .image,
.players .ranking-grid-row .player-card .player-avatar .image {
  overflow: hidden;
  border-radius: 3rem;
  background: #464646;
}
.ranking-grid .ranking-grid-row .player-card .clan-badges .badge,
.players .ranking-grid-row .player-card .clan-badges .badge {
  background: rgba(255, 255, 255, 0.123);
  border-bottom: 2px solid var(--background-color);
  border-radius: 0.1rem;
  padding: 0.2rem !important;
  cursor: pointer;
  filter: saturate(0.5) brightness(1.4);
  transform: scale(0.8);
  font-weight: 400 !important;
  color: white !important;
  margin: 0 0;
}
.ranking-grid .ranking-grid-row .player-card .steam-and-pp *,
.players .ranking-grid-row .player-card .steam-and-pp * {
  font-size: 0.86rem;
  color: #afcbff !important;
}
.ranking-grid .ranking-grid-row .player-card.current,
.players .ranking-grid-row .player-card.current {
  position: relative;
}
.ranking-grid .ranking-grid-row .player-card.current::after,
.players .ranking-grid-row .player-card.current::after {
  position: absolute;
  bottom: -0.4rem;
  left: 0px;
  width: calc(100% + 45px);
  background: linear-gradient(90deg, #3273db, #c81c9f);
  height: 0.4rem;
  content: "";
}
.ranking-grid .ranking-grid-row .fa-user-plus,
.players .ranking-grid-row .fa-user-plus {
  background: transparent !important;
  transition: all 0.1s;
  border-radius: 0.2rem !important;
  color: rgba(255, 255, 255, 0.425);
}
.ranking-grid .ranking-grid-row .fa-user-plus:hover,
.players .ranking-grid-row .fa-user-plus:hover {
  color: #ffffff;
}
.ranking-grid .ranking-grid-row .fa-user-minus,
.players .ranking-grid-row .fa-user-minus {
  background: none !important;
  transition: all 0.1s;
  border-radius: 0.2rem !important;
  color: #ffffff;
}
.ranking-grid .ranking-grid-row .fa-user-minus:hover,
.players .ranking-grid-row .fa-user-minus:hover {
  color: #ffffff;
}
.content-box {
  background: rgba(131, 131, 131, 0.082) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: none !important;
}
.page-content.svelte-qnwlci .compare-player-name * {
  background: transparent !important;
  color: white !important;
  border: none !important;
}
.page-content.svelte-qnwlci .grid.svelte-moindq > span {
  padding: 1.7rem !important;
  background: rgba(255, 255, 255, 0.171) !important;
}
.page-content.svelte-qnwlci .badge {
  font-size: 0.8rem !important;
  color: white !important;
  background: rgba(255, 255, 255, 0.13) !important;
  border-bottom: 2px solid var(--background-color);
  border-radius: 0.25rem;
  padding: 0.4rem 0.3rem;
}
.page-content.svelte-qnwlci .rank .badge {
  border-radius: 0;
  background: none !important;
  border: none;
}
.page-content.svelte-qnwlci .player-score {
  height: 3rem;
  border: none !important;
}
.page-content.svelte-qnwlci .player-score.highlight {
  background: #ffffff33;
  margin: 0.4rem 0;
  padding: 0;
}
.page-content.svelte-qnwlci .player-score.highlight .badge {
  border: none;
  background: none !important;
}
@media screen and (max-width: 767px) {
  .page-content.svelte-qnwlci .player-score {
    height: unset !important;
  }
  .page-content.svelte-qnwlci .player-score .clan-badges {
    display: none;
  }
}
.page-content.svelte-qnwlci .scores-grid * {
  color: white !important;
}
.leaderboard,
.chart,
.details-with-shadow {
  background: none !important;
  box-shadow: none !important;
}
.clanTag {
  filter: saturate(0.5) brightness(1.1);
  font-weight: 500 !important;
  border-bottom: 2px rgba(255, 255, 255, 0.315) solid;
  padding: 0 0.3rem;
}
.ranking.global.sspl * {
  background: transparent;
}
button.pagination-link {
  font-size: smaller !important;
  padding: 13px 15px !important;
  background: rgba(199, 199, 199, 0.363) !important;
}
button.pagination-link.is-current {
  background: rgba(0, 112, 240, 0.521) !important;
}
input {
  background: transparent !important;
  color: white !important;
  border: none;
  opacity: 0.95;
  border-bottom: 1px solid white !important;
}
.container.svelte-19ic7k8 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(199, 199, 199, 0.151) !important;
  border-radius: 0.5rem;
}
.container.svelte-19ic7k8 .title {
  position: relative;
}
.container.svelte-19ic7k8 .title::after {
  position: absolute;
  bottom: -1rem;
  left: 0px;
  width: 100%;
  background: linear-gradient(90deg, #3273db, #c81c9f);
  height: 0.4rem;
  content: "";
}
.container.svelte-19ic7k8 .input-container {
  justify-items: center;
}
.container.svelte-19ic7k8 .input-container .cat {
  font-size: 1.4rem;
}
.container.svelte-19ic7k8 .input-container input {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(243, 243, 243, 0.63) !important;
}
