@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjFhdlYw.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjOhBlYw.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjXhFlYw.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjQhJlYw.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kJo84MPvpLmixcA63oeALZTYKL.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZhaCt9w.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALhLw.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZ3aGt9w.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZlaet9w.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZraWt9w.otf) format('opentype');
}
* {
	font-family: 'Noto Sans', 'Noto Sans SC', 'Microsoft YaHei', sans-serif;
}
body {
	padding: 0;
}
:root {
	--ppColour: #e2b7ff !important;
	--row-separator: #00000059 !important;
}
nav.ssr-page-container {
	padding: 0.5rem;
	height: 4rem !important;
	box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.11) !important;
	border-bottom: none !important;
	background: var(--customizable-color-2) !important;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	max-width: none !important;
}
nav.ssr-page-container a,
nav.ssr-page-container div {
	transition: all 0.1s;
	border-radius: 4px;
}
.sspl-page-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.is-multiline {
	margin-left: 0 !important;
}
.sspl-page-container .is-multiline .title.is-4:nth-child(1) {
	font-size: 50px;
	position: relative;
}
.sspl-page-container .is-multiline .title.is-4:nth-child(1)::after {
	position: absolute;
	bottom: -1rem;
	left: 0px;
	width: 100%;
	background: linear-gradient(90deg, #3273db, #c81c9f);
	height: 0.4rem;
	content: '';
}
.sspl-page-container .sources {
	justify-content: center;
}
.sspl-page-container .sources * {
	cursor: pointer !important;
}
.sspl-page-container .sources .title.is-6 {
	filter: grayscale(1);
	box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.048);
	background: #252525;
	padding: 1rem;
	border-radius: 0.3rem;
	margin: 0.5rem;
	transition: filter 0.1s;
}
.sspl-page-container .sources .title.is-6 .icon {
	margin: 0 !important;
}
.sspl-page-container .sources .title.is-6:hover {
	filter: none;
}
.ranking-grid,
.leaderboard,
.players {
	grid-gap: 0rem !important;
}
.ranking-grid .ranking-grid-row,
.leaderboard .ranking-grid-row,
.players .ranking-grid-row {
	padding: 0.2rem 0;
	border-bottom: 1px rgba(189, 189, 189, 0.164) solid;
	transition: all 0.2s;
}
.ranking-grid .ranking-grid-row:hover,
.leaderboard .ranking-grid-row:hover,
.players .ranking-grid-row:hover {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.158);
}
.ranking-grid .ranking-grid-row .player-card,
.leaderboard .ranking-grid-row .player-card,
.players .ranking-grid-row .player-card {
	padding: 0.4rem 0.8rem;
	margin: 0 !important;
	background: rgba(50, 50, 50, 0) !important;
	border-radius: 0;
	font-size: 0.8rem;
	border: none !important;
}
.ranking-grid .ranking-grid-row .player-card .rank,
.leaderboard .ranking-grid-row .player-card .rank,
.players .ranking-grid-row .player-card .rank {
	background: none;
	font-weight: 600;
}
.ranking-grid .ranking-grid-row .player-card .player-avatar .image,
.leaderboard .ranking-grid-row .player-card .player-avatar .image,
.players .ranking-grid-row .player-card .player-avatar .image {
	overflow: hidden;
	border-radius: 3rem;
	background: #464646;
}
.ranking-grid .ranking-grid-row .player-card .clan-badges .badge,
.leaderboard .ranking-grid-row .player-card .clan-badges .badge,
.players .ranking-grid-row .player-card .clan-badges .badge {
	background: rgba(255, 255, 255, 0.123);
	border-bottom: 2px solid var(--background-color);
	border-radius: 0.1rem;
	padding: 0.2rem !important;
	cursor: pointer;
	filter: saturate(0.5) brightness(1.4);
	transform: scale(0.8);
	font-weight: 400 !important;
	color: white !important;
	margin: 0 0;
}
.ranking-grid .ranking-grid-row .player-card .steam-and-pp *,
.leaderboard .ranking-grid-row .player-card .steam-and-pp *,
.players .ranking-grid-row .player-card .steam-and-pp * {
	font-size: 0.86rem;
	color: #afcbff !important;
}
.ranking-grid .ranking-grid-row .player-card.current,
.leaderboard .ranking-grid-row .player-card.current,
.players .ranking-grid-row .player-card.current {
	position: relative;
}
.ranking-grid .ranking-grid-row .player-card.current::after,
.leaderboard .ranking-grid-row .player-card.current::after,
.players .ranking-grid-row .player-card.current::after {
	position: absolute;
	bottom: -0.4rem;
	left: 0px;
	width: calc(100% + 45px);
	background: linear-gradient(90deg, #3273db, #c81c9f);
	height: 0.4rem;
	content: '';
}
.ranking-grid .ranking-grid-row .fa-user-plus,
.leaderboard .ranking-grid-row .fa-user-plus,
.players .ranking-grid-row .fa-user-plus {
	background: transparent !important;
	transition: all 0.1s;
	border-radius: 0.2rem !important;
	color: rgba(255, 255, 255, 0.425);
}
.ranking-grid .ranking-grid-row .fa-user-plus:hover,
.leaderboard .ranking-grid-row .fa-user-plus:hover,
.players .ranking-grid-row .fa-user-plus:hover {
	color: #ffffff;
}
.ranking-grid .ranking-grid-row .fa-user-minus,
.leaderboard .ranking-grid-row .fa-user-minus,
.players .ranking-grid-row .fa-user-minus {
	background: none !important;
	transition: all 0.1s;
	border-radius: 0.2rem !important;
	color: #ffffff;
}
.ranking-grid .ranking-grid-row .fa-user-minus:hover,
.leaderboard .ranking-grid-row .fa-user-minus:hover,
.players .ranking-grid-row .fa-user-minus:hover {
	color: #ffffff;
}
.content-box {
	background: var(--customizable-color-1) !important;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: none !important;
}
.leaderboard .player-score.highlight {
	min-height: 3rem;
	height: auto !important;
}
.song-score .leaderboard {
	padding: 0 !important;
	background: none !important;
	backdrop-filter: none !important;
}
.player-page .compare-player-name *,
.leaderboard .compare-player-name *,
.page-content.scores .compare-player-name * {
	background: transparent !important;
	color: white !important;
	border: none !important;
}
.player-page .hands-and-grid > *:nth-child(2) > span,
.leaderboard .hands-and-grid > *:nth-child(2) > span,
.page-content.scores .hands-and-grid > *:nth-child(2) > span {
	padding: 1.7rem !important;
	background: rgba(255, 255, 255, 0.171) !important;
}
.player-page .badge,
.leaderboard .badge,
.page-content.scores .badge {
	font-size: 0.8rem !important;
	color: white !important;
	--badge-color: rgba(255, 255, 255, 0.13);
	border-bottom: 2px solid var(--background-color);
	background: var(--badge-color) !important;
	border-radius: 0.25rem;
	padding: 0.4rem 0.3rem;
}
.player-page .rank .badge,
.leaderboard .rank .badge,
.page-content.scores .rank .badge {
	border-radius: 0;
	background: none !important;
	border: none;
}
.player-page .player-score,
.leaderboard .player-score,
.page-content.scores .player-score {
	height: 3rem;
	border: none !important;
}
.player-page .player-score.highlight,
.leaderboard .player-score.highlight,
.page-content.scores .player-score.highlight {
	background: #ffffff33;
	margin: 0.4rem 0;
	padding: 0;
}
.player-page .player-score.highlight.mobile-second-line .badge,
.leaderboard .player-score.highlight.mobile-second-line .badge,
.page-content.scores .player-score.highlight.mobile-second-line .badge {
	border: none;
	background: none !important;
}
@media screen and (max-width: 767px) {
	.player-page .player-score,
	.leaderboard .player-score,
	.page-content.scores .player-score {
		height: unset !important;
	}
	.player-page .player-score .clan-badges,
	.leaderboard .player-score .clan-badges,
	.page-content.scores .player-score .clan-badges {
		display: none;
	}
}
.player-page .scores-grid *,
.leaderboard .scores-grid *,
.page-content.scores .scores-grid * {
	color: white !important;
}
.player-page .badge.nominated-pp,
.leaderboard .badge.nominated-pp,
.page-content.scores .badge.nominated-pp {
	--background-color: var(--ppColour) !important;
}
.leaderboard,
.chart,
.details-box {
	background: none !important;
	box-shadow: none !important;
}
.clanTag {
	filter: saturate(0.5) brightness(1.1);
	font-size: 0.5rem;
	font-weight: 500 !important;
	border-bottom: 2px rgba(255, 255, 255, 0.315) solid;
	padding: 0 0.3rem;
}
.ranking.global.sspl * {
	background: transparent;
}
.selectContainer {
	background-color: transparent;
}
.selectContainer input {
	border: none !important;
}
.selectContainer .listContainer {
	background-color: var(--selected);
}
button.pagination-link {
	font-size: smaller !important;
	padding: 13px 15px !important;
	background: rgba(199, 199, 199, 0.363) !important;
}
button.pagination-link.is-current {
	background: rgba(0, 112, 240, 0.521) !important;
}
input {
	background: transparent !important;
	color: white !important;
	border: none;
	opacity: 0.95;
	border-bottom: 1px solid white !important;
}
.login-page {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: rgba(199, 199, 199, 0.151) !important;
	border-radius: 0.5rem;
}
.login-page .title {
	position: relative;
}
.login-page .title::after {
	position: absolute;
	bottom: -1rem;
	left: 0px;
	width: 100%;
	background: linear-gradient(90deg, #3273db, #c81c9f);
	height: 0.4rem;
	content: '';
}
.login-page .input-container {
	justify-items: center;
}
.login-page .input-container .cat {
	font-size: 1.4rem;
}
.login-page .input-container input {
	font-size: 1.2rem;
	text-align: center;
	color: rgba(243, 243, 243, 0.63) !important;
}
.pagination {
	background: transparent !important;
	box-shadow: none !important;
	border-radius: 5px;
}
select.type-select {
	padding: 0.175rem !important;
	margin-top: 0.9rem !important;
}
/*# sourceMappingURL=mirror.css.map */
